<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liferay.ldxdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/liferay"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CouponActivity"
            android:label="@string/title_activity_coupon"
            android:parentActivityName=".activities.WalletActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liferay.ldxdemo.activities.WalletActivity" />
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liferay.ldxdemo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liferay.ldxdemo.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.WalletActivity"
            android:label="@string/title_activity_wallet"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liferay.ldxdemo.activities.MainActivity" />
        </activity>
    </application>

</manifest>
